[defaults]
inventory          = inventory/hosts.yaml
roles_path         = roles
collections_path   = ~/.ansible/collections
host_key_checking  = False
stdout_callback    = yaml
callbacks_enabled  = timer, profile_tasks

# Vault password file — créer ~/.ansible_vault_pass avec le mot de passe
# vault_password_file = ~/.ansible_vault_pass

[ssh_connection]
pipelining = True
